<div class="parent-container">
    <p>Parent Container</p>
    <div>
        <!-- The property below 'messageFromChild' comes
        from resolving the $event object handled in the div below -->
        <mat-card>Child Message: {{ messageFromChild }}</mat-card>
    </div>
    <div>
        <!-- Note: Using the Child Template, we use the Parent's 
        event handler to grab the $event which is emitted from child -->
        <app-p-to-c-child  (messageToParentEvent)="messageEventHandler($event)"></app-p-to-c-child>
    </div>
   
</div>




