<!--
<div class="container">
    <div class="grid-1 callout primary">
        <p>Child to Parent Communication</p>
        <app-c-to-p-parent></app-c-to-p-parent>
    </div>
  
    <div class="grid-2 callout warning">
      <p>Parent to Child Communication</p>
      <app-p-to-c-parent></app-p-to-c-parent>
    </div>
  
    <div class="grid-3 callout alert">
      Square 3
    </div>
  
    <div class="grid-4 callout success">
      Square 4
    </div>
</div>
-->

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <app-c-to-p-parent></app-c-to-p-parent>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-p-to-c-parent></app-p-to-c-parent>
  </mat-grid-tile>

  <mat-grid-tile>3

  </mat-grid-tile>
  <mat-grid-tile>4
    
  </mat-grid-tile>
</mat-grid-list>
  
  
